import { history } from "marko-path-router"

class {
    onMount() {
        console.log("[page-fortnite]: onMount()");
    }
}

div class="hero-body"

    div class="container has-text-centered"
        h1 class="title is-size-1" -- Fortnite Page
        h2 class="subtitle" -- Sick plays